@media screen and (min-width: 600px) {
    header {
        font-size: 1.2rem;
    }
    header img {
        width: 11vh;
        height: 9vh;
    }
    main section img {
        width: 350px;
        height: 250px;
    }
}